*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
    
    
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        height: 6rem;
        }
                
    a{
        text-decoration: none;
        color: black;
        font-family:sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
    
    }
    
    /* esto significa que a las "a" que son sus hijos le de es margen */
    nav > a {
        margin-left: 3.25rem;
    }
    
  .btnNav:hover{
        background: black;
        color: white;
        border-color: transparent;
    }

.hamburguesa{
    color: black;
    display:none;
    cursor: pointer;
    font-size: 32px;
} 
 

/* CSS de HERO
.hero{
    height: 100vh;
    background-color: aqua;
    flex-direction: column;
}


.contenedorHero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    padding-top: 5%;
    
}

.contenedorTextoHero{
    text-align: center;
    width: 40%;
}

.tituloHero{
    font-size: 2rem ;  /*no usar px para texto, texto siempre rem. para imagens utilizar %*/
    /* text-transform: uppercase;
    color: black;
    padding: 1.5rem 0; 
    text-align: center;
    } */
/* .textoHero{
    font-size: 1rem;
    color: black;
    text-align: center;
    padding-bottom: 2rem; /*se puede usar margin tmb*/
    /* text-transform: uppercase;  
}

.imagenhero{
    width: 45%;
} */
/* .textoDiagonal{
    display: flex;
    background-color: green;
    height: 10%;
    justify-content: center;
    align-items: center;
      
}  */

    
/* h2{
    color:rgb(206, 26, 26);
       
 } */